body {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: #004570;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}