body {
  width: 500px;
  height: auto;
  margin: 0;
  padding: 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  text-align: center;
}